/__pycache__
/checkpoints
/dataset
/outputs
/myenv
**/.DS_Store
=22
inference_preprocessing/tmp.vtk
convert_training_examples/starccm_dataset
convert_training_examples/starccm_vtp
dataset_old/
checkpoints_starccm/
starccm_dataset/sim_res_25900000.Pressure
**/__pycache__/*
convert_training_examples/training_set_500
